$gap: 8px;
$backgroundColor: #131b29;
$defaultTextColor: #f0f4f8;
$quoteTableHeadTextColor: #8698aa;
$buyQuotePriceTextColor: #00b15d;
$sellQuotePriceTextColor: #ff5b5a;
$quoteRowHoverBackgroundColor: #1e3059;
$buyQuoteAccumulativeTotalSizeBarColor: rgba($buyQuotePriceTextColor, 0.12);
$sellQuoteAccumulativeTotalSizeBarColor: rgba($sellQuotePriceTextColor, 0.12);
$animationFlashGreenBackgroundColor: rgba($buyQuotePriceTextColor, 0.5);
$animationFlashRedBackgroundColor: rgba($sellQuotePriceTextColor, 0.5);